# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Diretórios e Arquivos de Editores
.vscode/*
.vs/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

# Ignorar pasta de saída de compilação
**/bin/
**/obj/

# Ignorar o banco SQLite
**/*.db
**/*.sqlite
**/*.sqlite3

